@model RegisterViewModel
@{ 

}

<form class="sign-in-form" asp-controller="Auth" asp-action="Register" method="post">
    <div class="validation text" asp-validation-summary="ModelOnly"></div>
    <div>
        <label class="text">Username</label>
        <input asp-for="UserName" />
        <span class="text" asp-validation-for="UserName"></span>
    </div>
    <div>
        <label class="text">First Name</label>
        <input asp-for="FirstName" />
        <span class="text" asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label class="text">Second Name</label>
        <input asp-for="SecondName" />
        <span class="text" asp-validation-for="SecondName"></span>
    </div>
    <div>
        <label class="text">E-Mail</label>
        <input asp-for="Email" />
        <span class="text" asp-validation-for="Email"></span>
    </div>
    <div>
        <label class="text">Password</label>
        <input asp-for="Password" />
        <span class="text" asp-validation-for="Password"></span>
    </div>
    <div>
        <label class="text">Confirm Password</label>
        <input asp-for="ConfirmPassword" />
        <span class="text" asp-validation-for="ConfirmPassword"></span>
    </div>

    <div>
        <input type="submit" value="Sign Up" />
    </div>
</form>