@model IEnumerable<Post>
@{
    ViewBag.Title = "Blog Website";
    ViewBag.Describe = "The blog about Game Development";
    ViewBag.Keywords = "blog programming games gamedev gamedesign unity";

}
    <img src="~/content/content/microsoft-xbox-elite-series-2-package.jpg" />
<div>
    <ul>
        @foreach(var post in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                    @post.Title
                </a>
            </li>
        }
    </ul>
</div>
