@model IndexViewModel
@{
    ViewBag.Title = "Blog Website";
    ViewBag.Describe = "The blog about Game Development";
    ViewBag.Keywords = "blog programming games gamedev gamedesign unity";
    var base_path = Context.Request.PathBase;
}
<div class="container">
    @foreach(var post in Model.Posts)
    {
        <a class="post-cover-image" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            @if (!String.IsNullOrEmpty(post.CoverImagePath)) { 
                var image_path = $"{base_path}/Image/{post.CoverImagePath}";
                <img src="@image_path"/>
            }
            <span class="title">
                @post.Title
            </span>
        </a>
    }
    @await Component.InvokeAsync("Paginator", Model);
</div>
