@model Post

@{ 
    ViewBag.Title = Model.Title;
    ViewBag.Describe = Model.Desciption;
    ViewBag.Keywords = $"{Model.Tags?.Replace(","," ")} {Model.Category?.Name}";
}
<h2>@Model.Title</h2>

@if (!String.IsNullOrEmpty(Model.CoverImagePath))
{
    var image_path = $"/Image/{Model.CoverImagePath}";
    <img src="@image_path" />
}
<div>
    @Html.Raw(Model.Content)
</div>
