@model CommentViewModel

@{

}

<form id="replyForm_@Model.Id" method="post" asp-controller="Home" onsubmit="addComment(event)" asp-action="Comment">
    <input asp-for="Id" type="hidden"/>
    <input asp-for="PostId" type="hidden" />
    <input asp-for="ParentCommentId" type="hidden", value=@Model.Id />
    <input class="field-form" asp-for="Message" value=""  />
    <button type="submit">Send</button>
</form>

