<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a asp-controller="Test" asp-action="Index">Test</a>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Edit">Edit</a>
        <a asp-controller="Home" asp-action="NewCategory">NewCategory</a>

    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
