body{
    margin : 0px;
    background-color: #151617;
}
a {
    color:white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
nav{
    background-color: #151617;
    height: 50px;
    width: 100%;
    text-align: center;
}

nav a{
    display: inline-block;
    padding: 15px;
}

nav p{
    display: inline-block;
}

.main-img {
    position: relative;
    height: 420px;
    background-image: url('../content/static/microsoft-xbox-elite-series-2-package.jpg');
    background-position:center;
    background-size: cover;
}

.title{
    position: absolute;
    color: white;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    text-shadow: 0 0 8px black;
    text-transform: uppercase;
    font-weight: bold;
}

.title-without-img{
    color: white;
    font-size: 40px;
    top: 35%;
    text-shadow: 0 0 8px black;
    text-transform: uppercase;
    font-weight: bold;
}

.container{
    max-width:800px;
    width: 100%;
    margin: auto;
}

.post{
    margin: 5px;
    position: relative;
    display: flex;
    height: 400px;
    box-shadow: 0 0 15px 0 black;
}

.post img{
    width: 100%;
    object-fit: cover;
}

.post-body{
    margin: -5px 5px 0;
    color: white;
}

.no-shadow{
    box-shadow: none;
}

.comment-section{
    max-width:800px;
    width: 100%;
    margin: auto;
    color: white;
}

.pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.pages a{
    background-color: #1e1f24;
    color: white;
    padding: 1rem;
    margin: 0.25rem;
}

.pages a.active{
    background-color: #35363e;
}

.pages a:hover{
   background-color: #292a33;
   text-decoration:none;
}

.text{
    color:white;
}

p{
    color: white;
    display:inline-block;
}

.h1, h2, h3, h4{
    color:white;
}

