body{
    margin : 0px;
    background-color: #151617;
}
a {
    color:white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
nav{
    background-color: #151617;
    height: 50px;
    width: 100%;
    text-align: center;
}

nav a{
    display: inline-block;
    padding: 15px;
}

nav p{
    display: inline-block;
}

.main-img {
    position: relative;
    height: 420px;
    background-image: url('../content/static/microsoft-xbox-elite-series-2-package.jpg');
    background-position:center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    border-bottom: 2px solid white;
    margin-top: 10rem;
}

.search::placeholder{
    color: gray;
}
.blog-title{
    position: absolute;
    color: white;
    font-size: 60px;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    text-shadow: 0 0 8px black;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
}

.title{
    position: absolute;
    color: white;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    text-shadow: 0 0 8px black;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
}

.title-without-img{
    color: white;
    font-size: 40px;
    top: 35%;
    text-shadow: 0 0 8px black;
    text-transform: uppercase;
    font-weight: bold;
}

.container{
    max-width:800px;
    width: 100%;
    margin: auto;
}

.post{
    margin: 10px;
    position: relative;
    display: flex;
    height: 400px;
    box-shadow: 0 0 25px 0 black;
}

.post img{
    width: 100%;
    object-fit: cover;
}

.post-body{
    margin: -5px 5px 0;
    color: white;
}

.no-shadow{
    box-shadow: none;
}

.comment-section{
    max-width:800px;
    width: 100%;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.sub-comment-section{
    max-width:800px;
    width: 100%;
    margin-left: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.pages a{
    background-color: #1e1f24;
    color: white;
    padding: 0.5rem 0.75rem;
    margin: 0.25rem;
}

.pages a.active{
    background-color: #35363e;
}

.pages a:hover{
   background-color: #292a33;
   text-decoration:none;
}

.text{
    color:white;
}

p{
    color: white;
    display:inline-block;
}

.h1, h2, h3, h4{
    color:white;
}

.three-dots{
    color: gray;
    line-height: 1;
    font-size: 24px;
}

.sign-in-form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in-form div{
    max-width: 200px;
    width: 100%;
    margin-bottom: 1rem;
}

.field-form {
    background-image: initial;
    background-color: rgb(27, 29, 30);
    color: rgb(232, 230, 227);
    padding: 8px;
    margin: 4px 4px 4px 10px;
    border: 1px solid rgb(62, 68, 70);
    font-family: sans-serif;
    font-size: 16px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 2px;
}

.field-wrapper{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-me{
    position: absolute;
    color: white;
    font-size: 18px;
    top: 2%;
    text-shadow: 0 0 8px black;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    left: 90%;
}

