@model PostViewModel

@{

}
<link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" />
<link href="~/lib/Trumbowyg-master/dist/plugins/colors/ui/trumbowyg.colors.min.css" rel="stylesheet" />
<div>
    <form asp-controller="Panel" asp-action="EditPost" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div>
            <label class="text">Title</label>
            <input asp-for="Title" />
        </div>
        <div>
            <label class="text">Description</label>
            <input asp-for="Desciption" />
        </div>
        <div>
            <label class="text">Tags</label>
            <input asp-for="Tags" />
        </div>
        <div>
            <label class="text">Category</label>
            <select asp-for="CategoryId" asp-items=@Model.Categories>
                <option disabled>--SELECT--</option>
            </select>
        </div>
        <div>
            <label class="text">Body</label>
            <div class="trumbowyg-dark">
                <textarea id="editor" asp-for="Content"></textarea>
            </div>
        </div>
        <div>
            <label class="text">Image</label>
            <input asp-for="CurrentImage" type="hidden" />
            <input asp-for="CoverImagePath" />
        </div>
        <input type="submit" value="Submit" />
    </form>
</div>

@section scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <!-- Import only if you use JQuery UI with Resizable interaction -->
    <script src="//rawcdn.githack.com/trumbowyg/dist/plugins/resizimg/resizable-resolveconflict.min.js"></script>
    <!-- Import dependency for Resizimg. For a production setup, follow install instructions here: https://github.com/RickStrahl/jquery-resizable -->
    <script src="//rawcdn.githack.com/RickStrahl/jquery-resizable/master/dist/jquery-resizable.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/plugins/colors/trumbowyg.colors.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/plugins/fontsize/trumbowyg.fontsize.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/plugins/pasteimage/trumbowyg.pasteimage.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/plugins/fontfamily/trumbowyg.fontfamily.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/plugins/history/trumbowyg.history.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/plugins/base64/trumbowyg.base64.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/plugins/resizimg/trumbowyg.resizimg.min.js"></script>
    <script>
        $('#editor').trumbowyg({
            btns: [
                ['historyUndo', 'historyRedo'],
                ['foreColor', 'backColor'],
                ['fontsize'],
                ['fontfamily'],
                ['strong', 'em'],
                ['justifyLeft', 'justifyCenter'],
                ['insertImage', 'link'],
                ['base64'],
            ],

        });

    </script>


}